{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Django React Webpack</title>
    <!-- Webpack rendered CSS -->
    {% render_bundle 'application' 'css' %}
    {% render_bundle 'npm' 'js' %}
    {% render_bundle 'application' 'js' %}
</head>
<body>
    <div id="root"></div>
    <!-- Webpack rendered JS -->
</body>
</html>
